<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ReportSubjects" type="WeeklyHoursXlReportBuilder.ReportSubjects, WeeklyHoursXlReportBuilder"/>
  </configSections>

  <ReportSubjects>
    <add Id="11302" Name="Leen Keus"/>
    <add Id="11631" Name="Patrick ten Hove"/>
    <add Id="11742" Name="Harry Soffers"/>
    <add Id="11771" Name="Michel van der Bijl"/>
    <add Id="11873" Name="Frits Brekelmans"/>
    <add Id="11934" Name="Stefan Hofman"/>
    <add Id="11968" Name="Beau van Deursen"/>
    <add Id="12065" Name="Duminda Smid"/>
    <add Id="12076" Name="Ton van Sluisveld [ltek]"/>
    <add Id="50924" Name="Ton van Sluisveld"/>
    <add Id="60619" Name="Raoul Slavenburg"/>
    <add Id="65044" Name="Eddy Tonissen"/>
    <add Id="65052" Name="Wendie Sulkers"/>
  </ReportSubjects>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>